In [24]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('//home//ishaan//Documents//Work//Data//Raw Data.csv', error_bad_lines = False, sep = ';')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 5000)

In [25]:
df['Career Drawn'].replace(
    to_replace=['indian army', 'commando', 'army', 'soldier', 'Army officer'],
    value='Army',
    inplace=True
)

#Army = df[(df['Career Drawn'] == 'indian army' ) | (df['Career Drawn'] == 'commando' ) | (df['Career Drawn'] == 'army' ) | (df['Career Drawn'] == 'soldier') | (df['Career Drawn'] == 'Army officer' ) ]
#df.at[Army.index, 'Career Final'] = 'Army'

In [26]:
df['Career Drawn'].replace(
    to_replace=['teacher'],
    value='Teacher',
    inplace=True
)

df['Career Drawn'].replace(
    to_replace=['lawyer'],
    value='Lawyer',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['engineer'],
    value='Engineer',
    inplace=True
)

In [27]:
df['Career Drawn'].replace(
    to_replace=['doctor / nurse', 'doctor'],
    value='Doctor',
    inplace=True
)

In [28]:
Teachers = df[(df['Career Drawn'] == 'Teacher' ) | (df['Career Drawn'] == 'Professor' )]
df.at[Teachers.index, 'Career Final'] = 'Teacher'

In [29]:
doc = df[(df['Career Drawn'] == 'doctor / nurse') |(df['Career Drawn'] == 'dentist') | (df['Career Drawn'] == 'doctor') | (df['Career Drawn'] == 'Doctor')  ]
df.at[doc.index, 'Career Final'] = 'Doctor'

In [30]:
df['Career Final'] = ""

In [31]:
doc = df[(df['Career Drawn'] == 'Driver') |  (df['Career Drawn'] == 'ambulance driver') | (df['Career Drawn'] == 'driver') | (df['Career Drawn'] == 'Bus Driver')  ]
df.at[doc.index, 'Career Final'] = 'Drivers and Mobile Plant Operators'

In [39]:
df['Gender of the drawing'].replace(
    to_replace=['female'],
    value='Female',
    inplace=True
)
df['Gender of the drawing'].replace(
    to_replace=['male'],
    value='Male',
    inplace=True
)
df['Gender'].replace(
    to_replace=['boy'],
    value='Boy',
    inplace=True
)
df['Gender'].replace(
    to_replace=['girl'],
    value='Girl',
    inplace=True
)

In [33]:
df['Gender of the drawing'].value_counts(normalize = True)

Male       0.514914
Female     0.463108
Unclear    0.019623
None       0.001570
_          0.000785
Name: Gender of the drawing, dtype: float64

In [34]:
P= df.groupby('Career Drawn').count()
B = P.sort_values(['Sno'], ascending = False)
B['Sno']

Career Drawn
Teacher                 330
Doctor                  173
Army                    113
Police                   80
footballer               72
nurse                    50
Farmer                   29
singer                   23
Unclear                  21
Scientist                20
House Wife               19
Sports Person            17
Unspecified              15
Cricketer                13
Engineer                 13
Builder                  12
Lawyer                   12
Soldier                  11
Air Hostess              10
model                    10
artist                    9
Environmentalist          8
IPS officer               8
mechanic                  7
police                    7
astronaut                 6
dancer                    6
office work               6
Bus Driver                5
chef                      5
Office Job                5
Architect                 5
pilot                     5
driver                    4
factories man             4
Dancer                    4
unclear                   3
Air Force                 3
guitarist                 3
badminton player          3
painter                   3
D J Player                3
Software                  3
sister religion           3
Fashion Designer          3
Singer                    2
computer worker           2
Traffic Police            2
designer                  2
musician                  2
basket ball player        2
boxer                     2
goal keeper               2
cook                      2
actress                   2
Weapons                   2
Rich                      2
player ball               2
sweeper                   2
spacecraft                2
Carpenter/Police          2
DJ                        2
Restaurant Owner          2
Gospel Singer             2
poet                      2
Nurse                     2
Politician                2
planting trees            1
goldsmith                 1
tailor                    1
factory                   1
ninja                     1
sub inspector             1
student                   1
fire man                  1
mother                    1
gamer                     1
shop keeper               1
security                  1
player                    1
photographer              1
sailor                    1
racer                     1
president                 1
horticulture              1
planter                   1
hotel management          1
indian navy               1
missionary pastor         1
player                    1
pastor                    1
Agriculture               1
dentist                   1
Construction Job          1
King                      1
Judge                     1
IAS officer               1
Forest Guard              1
Florist                   1
Film Industry             1
Driver                    1
District Collector        1
Cleaner                   1
Music                     1
Chartered Accountant      1
Cartoon                   1
Biker                     1
Bank Manager              1
Band                      1
Astronomy                 1
Artist                    1
Animal Husbandry          1
Lawyer                    1
Nun                       1
common man                1
Writer                    1
chotta bheem              1
charity                   1
business                  1
brain doctor              1
automobile repairing      1
ambulance driver          1
actor                     1
Written in kannada        1
Trecking                  1
Nursery                   1
Teacher                   1
Tailor                    1
Shop Owner                1
Professor                 1
Professional              1
Pope                      1
Police                    1
Painter                   1
yoga                      1
Name: Sno, dtype: int64

In [40]:
Gender_Drawing = df.groupby(['Career Drawn', 'Gender'])
G = Gender_Drawing['Gender of the drawing'].value_counts(normalize = True)
G.round(2)

Career Drawn          Gender  Gender of the drawing
Agriculture           Boy     Female                   1.00
Air Force             Boy     Male                     1.00
Air Hostess           Girl    Female                   1.00
Animal Husbandry      Boy     Male                     1.00
Architect             Boy     Male                     1.00
                      Girl    Male                     1.00
Army                  Boy     Male                     1.00
                      Girl    Female                   0.80
                              Male                     0.20
Artist                Girl    Female                   1.00
Astronomy             Boy     Male                     1.00
Band                  Boy     Male                     1.00
Bank Manager          Girl    Male                     1.00
Biker                 Boy     Male                     1.00
Builder               Boy     Male                     1.00
                      Girl    Male                     1.00
Bus Driver            Boy     Male                     1.00
Carpenter/Police      Boy     Male                     1.00
Cartoon               Boy     Male                     1.00
Chartered Accountant  Girl    Unclear                  1.00
Cleaner               Boy     Male                     1.00
Construction Job      Boy     Male                     1.00
Cricketer             Boy     Male                     1.00
                      Girl    Unclear                  1.00
D J Player            Boy     Male                     1.00
                      Girl    Female                   1.00
DJ                    Boy     Male                     1.00
Dancer                Boy     Male                     1.00
                      Girl    Female                   1.00
District Collector    Girl    Female                   1.00
Doctor                Boy     Male                     0.97
                              Female                   0.03
                      Girl    Female                   0.87
                              Male                     0.13
Driver                Boy     Male                     1.00
Engineer              Boy     Male                     1.00
                      Girl    Male                     0.67
                              Female                   0.33
Environmentalist      Boy     Male                     1.00
                      Girl    Male                     0.67
                              Female                   0.33
Farmer                Boy     Male                     0.96
                              None                     0.04
                      Girl    Male                     0.67
                              Unclear                  0.33
Fashion Designer      Girl    Female                   1.00
Film Industry         Boy     Male                     1.00
Florist               Girl    Female                   1.00
Forest Guard          Boy     Male                     1.00
Gospel Singer         Girl    Female                   1.00
House Wife            Boy     Female                   1.00
                      Girl    Female                   0.94
                              Male                     0.06
IAS officer           Boy     Male                     1.00
IPS officer           Boy     Male                     1.00
Judge                 Girl    Male                     1.00
King                  Boy     Male                     1.00
Lawyer                Boy     Male                     1.00
                      Girl    Female                   0.67
                              Male                     0.33
Lawyer                Girl    Female                   1.00
Music                 Boy     Male                     1.00
Nun                   Girl    Female                   1.00
Nurse                 Girl    Female                   1.00
Nursery               Girl    Male                     1.00
Office Job            Boy     Male                     1.00
                      Girl    Female                   1.00
Painter               Boy     Male                     1.00
Police                Boy     Male                     1.00
                      Girl    Female                   0.64
                              Male                     0.36
Police                Girl    Male                     1.00
Politician            Boy     Male                     1.00
Pope                  Boy     Male                     1.00
Professional          Girl    Female                   1.00
Professor             Girl    Female                   1.00
Restaurant Owner      Boy     Male                     1.00
Rich                  Boy     Male                     1.00
Scientist             Boy     Male                     1.00
                      Girl    Female                   0.83
                              Male                     0.17
Shop Owner            Boy     Male                     1.00
Singer                Girl    Female                   1.00
Software              Girl    Male                     0.67
                              Female                   0.33
Soldier               Boy     Male                     1.00
                      Girl    Male                     1.00
Sports Person         Boy     Male                     0.94
                              Female                   0.06
                      Girl    Female                   1.00
Tailor                Girl    Male                     1.00
Teacher               Boy     Male                     0.83
                              Female                   0.09
                              Unclear                  0.06
                              None                     0.02
                      Girl    Female                   0.88
                              Male                     0.12
                              Unclear                  0.00
Teacher               Girl    Female                   1.00
Traffic Police        Boy     Male                     1.00
Trecking              Boy     Male                     1.00
Unclear               Boy     Male                     0.67
                              Unclear                  0.22
                              Female                   0.11
                      Girl    Male                     0.45
                              Unclear                  0.45
                              Female                   0.09
Unspecified           Boy     Unclear                  0.56
                              Male                     0.44
                      Girl    Unclear                  0.67
                              Female                   0.17
                              Male                     0.17
Weapons               Boy     Unclear                  1.00
Writer                Girl    Male                     1.00
Written in kannada    Boy     Male                     1.00
actor                 Boy     Male                     1.00
actress               Girl    Female                   1.00
ambulance driver      Boy     Male                     1.00
artist                Boy     Male                     1.00
                      Girl    Female                   1.00
astronaut             Boy     Male                     1.00
automobile repairing  Boy     Male                     1.00
badminton player      Girl    Female                   0.67
                              Male                     0.33
basket ball player    Boy     Male                     1.00
                      Girl    Female                   1.00
boxer                 Boy     Male                     1.00
                      Girl    Female                   1.00
brain doctor          Girl    Female                   1.00
business              Girl    Female                   1.00
charity               Boy     Male                     1.00
chef                  Boy     Male                     1.00
                      Girl    Female                   0.75
                              Male                     0.25
chotta bheem          Boy     Male                     1.00
common man            Boy     Male                     1.00
computer worker       Boy     Male                     1.00
cook                  Girl    Female                   1.00
dancer                Boy     Male                     1.00
                      Girl    Female                   1.00
dentist               Boy     Male                     1.00
designer              Girl    Female                   1.00
driver                Boy     Male                     1.00
factories man         Boy     Male                     1.00
factory               Boy     Male                     1.00
fire man              Boy     Male                     1.00
footballer            Boy     Male                     1.00
                      Girl    Female                   1.00
gamer                 Boy     Male                     1.00
goal keeper           Boy     Male                     1.00
goldsmith             Boy     Male                     1.00
guitarist             Boy     Male                     1.00
                      Girl    Female                   1.00
horticulture          Girl    Female                   1.00
hotel management      Girl    Female                   1.00
indian navy           Boy     Male                     1.00
mechanic              Boy     Male                     1.00
missionary pastor     Girl    Female                   1.00
model                 Girl    Female                   1.00
mother                Girl    Female                   1.00
musician              Boy     Male                     1.00
                      Girl    Female                   1.00
ninja                 Boy     Male                     1.00
nurse                 Boy     Female                   0.50
                              Male                     0.50
                      Girl    Female                   1.00
office work           Girl    Female                   1.00
painter               Boy     Male                     1.00
                      Girl    Female                   1.00
pastor                Boy     Male                     1.00
photographer          Boy     Male                     1.00
pilot                 Boy     Male                     1.00
                      Girl    Female                   1.00
planter               Girl    Female                   1.00
planting trees        Girl    Male                     1.00
player                Boy     Male                     1.00
player                Boy     Male                     1.00
player ball           Boy     Male                     1.00
                      Girl    Female                   1.00
poet                  Boy     Male                     1.00
police                Boy     Male                     1.00
                      Girl    Female                   1.00
president             Boy     Male                     1.00
racer                 Boy     Male                     1.00
sailor                Girl    Female                   1.00
security              Girl    Male                     1.00
shop keeper           Boy     Male                     1.00
singer                Boy     Male                     1.00
                      Girl    Female                   1.00
sister religion       Girl    Female                   1.00
spacecraft            Boy     Male                     1.00
                      Girl    Female                   1.00
student               Girl    Female                   1.00
sub inspector         Girl    Male                     1.00
sweeper               Boy     Male                     1.00
tailor                Boy     Male                     1.00
unclear               Boy     Male                     1.00
                      Girl    _                        1.00
yoga                  Boy     Male                     1.00
Name: Gender of the drawing, dtype: float64

In [36]:
Fav_Colour = df.groupby('Favourite Colour').count()
Fav_Colour['Sno']
#Gender_Drawing['Gender of the drawing'].value_counts(normalize = True)

Favourite Colour
BLACK                    1
Black                   11
Blue                    51
Blue and orange          2
Blue and pink            2
Brown                    3
Dark Blue                4
Green                  104
Green                    2
Green and Red            1
Light Green              5
Orange                  28
Parrot Green             1
Pink                   122
Purple                  20
Read                     1
Red                    197
Red                      2
Red and Green            1
Sky Blue                 9
Unclear                  1
White                    7
Written in Kannada       2
Yellow                  16
_                        2
black                  109
black                    3
black and green          1
black and red            1
black and white          6
black or white           2
blue                   139
blue and black           1
blue and yellow          2
brown                    2
dark brown               1
golden                   2
green                   95
green and pink           1
grey                     9
indigo                   1
light blue               5
light blue and pink      1
maroon                   1
neon                     1
not written              1
orange                   8
pink                    46
purple                   7
purple and yellow        1
red                    108
red and silver           1
silver                   1
white                   53
yellow                  66
Name: Sno, dtype: int64

In [37]:
Mothers_Occupation = df.groupby('Mothers Occupation').count()
MO = Mothers_Occupation.sort_values(['Sno'], ascending = False)
MO['Sno']

Mothers Occupation
House Wife                  605
farmer                      133
labour                       86
shop keeper                  69
Labour                       51
Employee                     51
Tailor                       47
Farmer                       41
Teacher                      29
business woman               26
daily wages                  15
Expired                       7
Daily Wage Labour             7
housewife                     6
labourer                      5
_                             5
cook                          4
Worker                        4
Aganwadi                      4
Small Business                3
house wife                    3
Business                      3
washing car                   3
work from home                2
Helper                        2
not written                   1
hou                           1
tailor                        1
seller                        1
restaurnant                   1
massterool                    1
mastarole                     1
mietsallon                    1
petrol service                1
muster rule                   1
musteroll                     1
peon                          1
painter                       1
officer                       1
bio life                      1
farming                       1
Rophina Nongram Mastrule      1
Cook                          1
Flower Business               1
Garment Employee              1
Garments Business             1
House Keeping                 1
Iron Smith                    1
PWD                           1
Pivion                        1
School Cook                   1
coal business                 1
Tae seller                    1
Written in Kannada            1
Yeil sari byllasngi           1
bank worker                   1
beautician                    1
Anganwadi Worker              1
chokider                      1
cleaner                       1
work in office                1
Name: Sno, dtype: int64

In [38]:
Fathers_Occupation = df.groupby('Fathers Occupation').count()
FO = Fathers_Occupation.sort_values(['Sno'], ascending = False)
FO['Sno']

Fathers Occupation
Farmer                378
Labour                112
farmer                 97
driver                 92
labour                 83
business               49
Employee               41
carpenter              34
Expired                28
daily wage             21
Coal Mining            21
labourer               20
Driver                 20
Business               12
Small Business         11
teacher                11
mason                   8
shop keeper             7
Daily Wage Labour       5
home                    5
Tailor                  5
business man            4
Painter                 4
muster rule             4
Teacher                 4
mining                  4
Carpenter               4
Businessman             4
coal business           4
Unemployed              3
coal                    3
_                       3
mechanic                3
Worker                  3
contractor              3
electrician             3
not clear               2
cultivator              2
Watchman                2
Chef                    2
police                  2
Electrician             2
Hotel Staff             2
late                    1
govt employee           1
singer                  1
furniture mystery       1
job                     1
salling medirine        1
leader                  1
meson                   1
quacker                 1
mining sand             1
mistari                 1
forest guard            1
school driver           1
nebber                  1
not written             1
office                  1
officer                 1
pension                 1
plumber                 1
principal               1
municipal worker        1
Auto Driver             1
footballer              1
engineer                1
Coals                   1
Driver Truck            1
Electrical Work         1
Factory Worker          1
Farmer and Labour       1
House Keeping           1
Lakaran                 1
Mechanic                1
Mechanical              1
Milk Dairy              1
Nongrep                 1
Plastic Business        1
Radhold                 1
Refari                  1
Scrap Merchant          1
Tae seller              1
Tea Stall               1
Ticket Counter          1
Unavailable             1
Written in Kannada      1
automobile              1
battalion               1
black smith             1
Bicycle Workshop        1
cement factory          1
chukider                1
coal mining             1
coaler                  1
crafting                1
businessman             1
Name: Sno, dtype: int64