In [9]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/home/is99/Documents/Py/Research-airtel/Data/data.csv', error_bad_lines=False, sep = ',')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 5000)
df.drop(df.columns[24:], axis =1, inplace = True)

In [23]:
df['Gender'].replace(
    to_replace=['Gril'],
    value='Girl',
    inplace=True
)

In [72]:
df['Career Final'] = ''

In [74]:
df['Gender of the drawing'] = df['Gender of the drawing'].str.capitalize()
df['Gender'] = df['Gender'].str.capitalize()
df['Career Drawn'] = df['Career Drawn'].str.capitalize()
df['Favourite Colour'] = df['Favourite Colour'].str.capitalize()

In [12]:
dd = df[~df['Gender of the drawing'].isin(['Male', 'Female'])]
dd.groupby('Gender of the drawing').count()['Sno'].sum()

132

In [13]:
G = pd.isnull(df['Gender'])
Gender_missing = df[G]
gd = pd.isnull(df['Gender of the drawing'])
Gd_missing = df[gd]
Cd = pd.isnull(df['Career Drawn'])
Cd_missing = df[Cd]

In [14]:
r = [Cd_missing, Gd_missing, Gender_missing ,dd]
remove = pd.concat(r, sort = True)

In [18]:
Cdd = df[(df['Career Drawn'] == 'Not clear') |(df['Career Drawn'] == 'Unclear') |(df['Career Drawn'] == 'Unspecified')  ]

df.drop(Cdd.index , inplace = True)

In [25]:
Gdd = df[(df['Gender'] == 'Not clear') ]

df.drop(Gdd.index , inplace = True)

In [15]:
df.drop(remove.index , inplace = True)

In [26]:
df['Gender'].value_counts(normalize = True)

Girl    0.523453
Boy     0.476547
Name: Gender, dtype: float64

In [128]:
df['Career Drawn'].replace(
    to_replace=['Army woman', 'Comando', 'Indian army', 'Commando', 'Soldier', 'Army  officer', 'Army officer', 'Armt', 'Crpf', 'Fauzi', 'Army man'],
    value='Army',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Computer teacher','Math teacher', 'English tacher', 'Music teacher', 'Hindi teacher'],
    value='Teacher',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Doctor / nurse', 'Brain doctor', 'Doctor of ear'],
    value='Doctor',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Policeman','Police inspector','Acp','Police man','Polce', 'Police woman', 'Police dsp', 'Police officer', 'Ladies police', 'Punjab police'],
    value='Police',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Footballer', 'Foot ball player'],
    value='Football player',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Karate king'],
    value='Karate',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Computer engineer', 'Software engineer'],
    value='Engineer',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Planting trees'],
    value='Planter',
    inplace=True
)
df['Career Drawn'].replace(
    to_replace=['Indian navy'],
    value='Navy',
    inplace=True
)

In [108]:
Prof= df.groupby('Career Drawn').count()
Prof.sort_values(['Sno'], ascending = False)['Sno']
#D = C > 9
#C[D].sum()

Career Drawn
Teacher                 753
Doctor                  327
Army                    313
Police                  238
Football player          87
Nurse                    65
Farmer                   52
Singer                   46
Engineer                 45
Scientist                36
Pilot                    27
Painter                  23
Dancer                   21
Cricketer                20
House wife               19
Sports person            17
Lawyer                   14
Model                    13
Cricketer                13
Artist                   12
Builder                  12
Driver                   11
Ips officer              11
Fashion designer         10
Air hostess              10
Train driver              9
Environmentalist          8
Mechanic                  8
Architect                 7
Tailor                    6
Office work               6
Leader                    6
Badminton player          6
Ambulance driver          6
Astronaut                 6
Mehandi designer          6
Social worker             6
Bank manager              5
Bus driver                5
Chef                      5
Player                    5
Designer                  5
Office job                5
Traffic police            5
Factories man             4
Karate                    4
Judge                     4
Ias officer               4
Hockey player             4
Computer operator         4
Shop keeper               4
Air force                 4
Sister religion           3
D j player                3
Mistry                    3
Astronot                  3
Bank officer              3
Politician                3
Principal                 3
Guitarist                 3
Actor                     3
Software                  3
Cid officer               2
Boxer                     2
Planter                   2
Reporter                  2
Goal keeper               2
Gospel singer             2
Cycle                     2
Athele                    2
Masson                    2
Civilian                  2
Computer worker           2
Player ball               2
Beautician                2
Actress                   2
Poet                      2
Basket ball player        2
Cleaner                   2
Banker                    2
Cook                      2
Restaurant owner          2
Rich                      2
Deshbhakt                 2
Sweeper                   2
Carpenter                 2
Spacecraft                2
Photographer              2
Carpenter/police          2
Enironment                2
Musician                  2
Dj                        2
Navy                      2
Writer                    1
Tree cutter               1
Written in kannada        1
Truck driver              1
Player                    1
Paster                    1
Pastor                    1
Van driver                1
Petrol pump               1
Shutter                   1
Umpire                    1
Weaver                    1
Trecking                  1
Transporter               1
Police                    1
Pope                      1
Officer                   1
Shooter                   1
Spider man                1
Sports                    1
Sharp shooter             1
Security guard            1
Student                   1
Sub inspector             1
Security                  1
Teacher                   1
Sailor                    1
Tenis player              1
Researcher                1
Reader                    1
Racer                     1
Sketch painter            1
Professor                 1
Professional              1
Shop owner                1
President                 1
Post man                  1
Punjabi singher           1
Indian navy               1
Nursery                   1
Nun                       1
Dentist                   1
Construction job          1
Computer  operator        1
Computer                  1
Common man                1
Clown                     1
Clerk                     1
Cid                       1
Chowkidaar                1
Chotta bheem              1
Charity                   1
Cbi                       1
Cartoon                   1
Car mechanic              1
Car driver                1
Captain of ship           1
Butcher                   1
Business man              1
Business                  1
Bird scather              1
Biker                     1
Band                      1
Automobile repairing      1
Athlete                   1
Astronomy                 1
Army driver               1
Animal husbandry          1
Agriculture               1
Advocate                  1
District collector        1
Dj operator               1
Dsp                       1
Ips                       1
Ninja                     1
Music                     1
Mother                    1
Monitor                   1
Missionary pastor         1
Minister                  1
Magician                  1
Lectural                  1
Lawyer                    1
King                      1
Kabbadi playet            1
Job                       1
Jailor                    1
Inspector                 1
Electician                1
Hotel management          1
Horticulture              1
History teacher           1
Head clerk                1
Halwai                    1
Goldsmith                 1
Gangster                  1
Gamer                     1
Forest guard              1
Florist                   1
Fire man                  1
Film industry             1
Factory                   1
Yoga                      1
Name: Sno, dtype: int64

In [129]:
Arm = df[(df['Career Drawn'] == 'Cid officer' )|(df['Career Drawn'] == 'Navy' )|(df['Career Drawn'] == 'Army' ) |(df['Career Drawn'] == 'Air force' ) | (df['Career Drawn'] == 'Police' ) |(df['Career Drawn'] == 'Ips officer' ) | (df['Career Drawn'] == 'Traffic Police')]
df.at[Arm.index, 'Career Final'] = 'Defence and Police'

Al = df[(df['Career Drawn'] == 'Nursery' )|(df['Career Drawn'] == 'Farmer' )|(df['Career Drawn'] == 'Florist' )|(df['Career Drawn'] == 'Tree cutter' )|(df['Career Drawn'] == 'Planter')]
df.at[Al.index, 'Career Final'] = 'Agriculture, Fishery and Forestry'

Eo = df[(df['Career Drawn'] == 'Car driver' )|(df['Career Drawn'] == 'Chowkidaar' )|(df['Career Drawn'] == 'Construction job' )|(df['Career Drawn'] == 'Sweeper' )|(df['Career Drawn'] == 'Carpenter/police' )|(df['Career Drawn'] == 'Masson' )|(df['Career Drawn'] == 'Van driver' )|(df['Career Drawn'] == 'Truck driver' )|(df['Career Drawn'] == 'Cleaner' )|(df['Career Drawn'] == 'Bus driver' )| (df['Career Drawn'] == 'Mistry' ) | (df['Career Drawn'] == 'Factories man' ) |(df['Career Drawn'] == 'Builder' )| (df['Career Drawn'] == 'Driver' )| (df['Career Drawn'] == 'Train driver')| (df['Career Drawn'] == 'Mechanic')| (df['Career Drawn'] == 'Ambulance driver')]
df.at[Eo.index, 'Career Final'] = 'Elementary Occupations'

Stem = df[(df['Career Drawn'] == 'Astronot' )|(df['Career Drawn'] == 'Astronomy' )|(df['Career Drawn'] == 'Computer worker' )|(df['Career Drawn'] == 'Scientist' ) |(df['Career Drawn'] == 'Software' ) | (df['Career Drawn'] == 'Engineer' ) | (df['Career Drawn'] == 'Architect' )]
df.at[Stem.index, 'Career Final'] = 'Science Technology and Mathematics'

In [ ]:

Teachers = df[(df['Career Drawn'] == 'Teacher' ) | (df['Career Drawn'] == 'Professor') |(df['Career Drawn'] == 'Principal')  ]
df.at[Teachers.index, 'Career Final'] = 'Teacher'

Doc = df[(df['Career Drawn'] == 'dentist') |(df['Career Drawn'] == 'Doctor')|(df['Career Drawn'] == 'Nurse')  ]
df.at[Doc.index, 'Career Final'] = 'Health'

Art = df[(df['Career Drawn'] == 'Poet' )|(df['Career Drawn'] == 'Artist' ) |(df['Career Drawn'] == 'Dancer' ) |(df['Career Drawn'] == 'Painter' ) |(df['Career Drawn'] == 'Singer' ) |(df['Career Drawn'] == 'Fashion designer' ) |(df['Career Drawn'] == 'Model' ) |(df['Career Drawn'] == 'Music' ) |(df['Career Drawn'] == 'Band' ) |(df['Career Drawn'] == 'Sketch painter' ) |(df['Career Drawn'] == 'Guitarist' ) | (df['Career Drawn'] == 'Musician' )|(df['Career Drawn'] == 'Actor' ) | (df['Career Drawn'] == 'Actress')| (df['Career Drawn'] == 'Writer')| (df['Career Drawn'] == 'Punjabi singher')]
df.at[Art.index, 'Career Final'] = 'Performing Art'

Sports = df[(df['Career Drawn'] == 'Kabaddi playet')|(df['Career Drawn'] == 'Athlete')|(df['Career Drawn'] == 'Karate')|(df['Career Drawn'] == 'Umpire' )|(df['Career Drawn'] == 'Tenis player' )|(df['Career Drawn'] == 'Boxer' )|(df['Career Drawn'] == 'Athele' )|(df['Career Drawn'] == 'Sports person' )|(df['Career Drawn'] == 'Basket ball player' )| (df['Career Drawn'] == 'Football player' )| (df['Career Drawn'] == 'Cricketer' )| (df['Career Drawn'] == 'Badminton player')| (df['Career Drawn'] == 'Player')| (df['Career Drawn'] == 'Hockey player')| (df['Career Drawn'] == 'Player ball')]
df.at[Sports.index, 'Career Final'] = 'Sports'

In [130]:
df['Career Final'].replace(
    to_replace=[''],
    value='Others',
    inplace=True
)

In [131]:
#Prof= df.groupby('Career Final').count()
#Prof.sort_values(['Sno'], ascending = False)['Sno']
df['Career Final'].value_counts(normalize = True)

Teacher                               0.297201
Defence and Police                    0.225069
Health                                0.154513
Others                                0.121797
Sports                                0.057942
Performing Art                        0.055972
Science Technology and Mathematics    0.037052
Elementary Occupations                0.027986
Agriculture and Livestock             0.022467
Name: Career Final, dtype: float64

In [28]:
df.to_csv('/home/ishaan/Documents/Work/Data/S1.csv', index=False)