In [12]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/home/ishaan/Documents/Work/Data/Sheet1.csv',  sep = ';')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 5000)
df.drop(df.columns[24:], axis =1, inplace = True)

In [15]:
df.head()

,Sno,School Code,State,District,Block,School Name,Type,School Type,MIS Type,Name of the Student,Gender,Class,Stream (if class XI and XII,Favourite Subject,Favourite Colour,Mothers Occupation,Fathers Occupation,Career Drawn,Hockey,Gender of the drawing,Situation of the as drawn,Remarks if any,Unique Codes given to papers,Done By
0,1,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Shashank.N.N,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Teacher,NaN,Female,Classroom,NaN,NaN,NaN
1,2,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Ejaerjaa Dhaj,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Farmer,NaN,Male,farmland,Subsistence Agriculture,NaN,NaN
2,3,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Thejas,Boy,7,NaN,Kannada,Red,House Wife,Farmer,Teacher,NaN,Female,School,NaN,NaN,NaN
3,4,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sushmitha,Girl,7,NaN,Social Science,Green,House Wife,Employee,Teacher,NaN,Female,Classroom,NaN,NaN,NaN
4,5,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sinchana. K,Girl,7,NaN,Social Science,Red,Employee,Employee,Teacher,NaN,Male,Open Classroom,Playground is Prominent,NaN,NaN

In [9]:
imp_index = ['Sno', 'Gender' ,'Name of the Student', 'Class', 'Career Drawn' , 'Gender of the drawing']

In [14]:
df['Gender of the drawing'] = df['Gender of the drawing'].str.capitalize()
df['Gender'] = df['Gender'].str.capitalize()

In [ ]:
df['Career Drawn'].replace(
    to_replace=['indian army', 'commando', 'army', 'soldier', 'Army officer'],
    value='Army',
    inplace=True
)

#Army = df[(df['Career Drawn'] == 'indian army' ) | (df['Career Drawn'] == 'commando' ) | (df['Career Drawn'] == 'army' ) | (df['Career Drawn'] == 'soldier') | (df['Career Drawn'] == 'Army officer' ) ]
#df.at[Army.index, 'Career Final'] = 'Army'

# df['Career Drawn'].replace(
#     to_replace=['teacher'],
#     value='Teacher',
#     inplace=True
# )

# df['Career Drawn'].replace(
#     to_replace=['lawyer'],
#     value='Lawyer',
#     inplace=True
# )
# df['Career Drawn'].replace(
#     to_replace=['engineer'],
#     value='Engineer',
#     inplace=True
# )

df['Career Drawn'].replace(
    to_replace=['doctor / nurse', 'doctor'],
    value='Doctor',
    inplace=True
)

Teachers = df[(df['Career Drawn'] == 'Teacher' ) | (df['Career Drawn'] == 'Professor' )]
df.at[Teachers.index, 'Career Final'] = 'Teacher'

doc = df[(df['Career Drawn'] == 'doctor / nurse') |(df['Career Drawn'] == 'dentist') | (df['Career Drawn'] == 'doctor') | (df['Career Drawn'] == 'Doctor')  ]
df.at[doc.index, 'Career Final'] = 'Doctor'

In [ ]:
df['Gender of the drawing'].replace(
    to_replace=['female', 'femake'],
    value='Female',
    inplace=True
)
df['Gender of the drawing'].replace(
    to_replace=['male'],
    value='Male',
    inplace=True
)
df['Gender'].replace(
    to_replace=['boy'],
    value='Boy',
    inplace=True
)
df['Gender'].replace(
    to_replace=['girl'],
    value='Girl',
    inplace=True
)

In [ ]:
# df['Favourite Colour'].replace(
#     to_replace=['red'],
#     value='Red',
#     inplace=True
# )
# df['Favourite Colour'].replace(
#     to_replace=['blue'],
#     value='Blue',
#     inplace=True
# )
# df['Favourite Colour'].replace(
#     to_replace=['black'],
#     value='Black',
#     inplace=True
# )    
# df['Favourite Colour'].replace(
#     to_replace=['white'],
#     value='White',
#     inplace=True
# )

In [18]:
dd = df[~df['Gender of the drawing'].isin(['Male', 'Female'])]
dd.groupby('Gender of the drawing').count()['Sno'].sum()

132

In [13]:
gdd = df.groupby('Gender of the drawing').count()
GDD = gdd.sort_values(['Sno'], ascending = False)
GDD['Sno']

Gender of the drawing
Male              1157
Female            1015
female             269
male               259
Unclear             45
Seendry             31
Design               6
House                4
Drawing              3
Not Clear            3
Flag                 2
Class Room           2
Ground               2
Rocket               2
Car                  2
Police Station       2
None                 2
Apple                2
Tractor              1
Tattu                1
Study Table          1
Parlor               1
Snake Dance          1
Pitch                1
Picture              1
_                    1
Lab                  1
Painter              1
Ladies Dress         1
B                    1
Instrument           1
Gun Shop             1
Gittar               1
Fruit                1
Femake               1
Duck                 1
Diwali scene         1
Boy                  1
Border               1
Blood Donate         1
Bird                 1
not Clear            1
Name: Sno, dtype: int64

In [69]:
G = pd.isnull(df['Gender'])
Gender_missing = df[G]
gd = pd.isnull(df['Gender of the drawing'])
Gd_missing = df[gd]
Cd = pd.isnull(df['Career Drawn'])
Cd_missing = df[Cd]

In [70]:
Cdd = df[(df['Career Drawn'] == 'Not Clear') |(df['Career Drawn'] == 'Unspecified')  ]

In [71]:
r = [Cd_missing, Gd_missing, Gender_missing ,dd ]
remove = pd.concat(r, sort = True)

In [ ]:
A = df.groupby('Gender of the drawing').count()
A['Sno']

In [67]:
P = df.count()
P['Sno']

2690

In [ ]:
df.drop(remove.index , inplace = True)

In [73]:
df.drop(Cdd.index, inplace = True)

In [74]:
P = df.count()
P['Sno']

2553

In [ ]:
df.to_csv('/home/ishaan/Documents/Work/Data/S1.csv', index=False)

In [5]:
Color= df.groupby('Favourite Colour').count()
Color.sort_values(['Sno'], ascending = False)['Sno']

Favourite Colour
Red                    800
Pink                   489
Green                  331
Blue                   325
Black                  243
Yellow                 145
White                  127
Orange                  56
Purple                  32
Sky blue                30
Brown                   15
Grey                    11
Light green             10
Light blue               7
Black and white          6
Dark blue                4
Golden                   4
Red black                4
Black                    3
Navy blue                3
Baby pink                3
Blue and orange          2
Blue and pink            2
Red                      2
Written in kannada       2
_                        2
Red green                2
Green                    2
Black or white           2
Bluq                     2
Blue and yellow          2
Red blue                 1
Red yellow               1
Silver                   1
Read                     1
Red and silver           1
Red and green            1
Red  brown               1
Unclear                  1
Red brown                1
All                      1
Purple and yellow        1
Indigo                   1
Black and green          1
Black and red            1
Blue and black           1
Dark brown               1
Green and pink           1
Green and red            1
Kesari                   1
Purpal                   1
Khaki                    1
Light blue and pink      1
Maroon                   1
Neon                     1
Not written              1
Parrot green             1
Margenda                 1
Name: Sno, dtype: int64

In [63]:
Prof= df.groupby('Career Drawn').count()
Prof.sort_values(['Sno'], ascending = False)['Sno']

Career Drawn
Teacher                 740
Doctor                  325
Army                    280
Police                  215
Not Clear               131
footballer               72
nurse                    52
Farmer                   52
Scientist                36
Engineer                 31
Singer                   23
singer                   23
Pilot                    21
Cricketer                20
House Wife               19
Painter                  19
Sports Person            17
Dancer                   16
Soldier                  15
Lawyer                   14
Football Player          13
Nurse                    13
Unclear                  13
Computer Engineer        12
Builder                  12
IPS officer              10
model                    10
Air Hostess              10
artist                    9
Cricketer                 9
Environmentalist          8
police                    8
Driver                    7
Train Driver              7
mechanic                  7
Architect                 7
Leader                    6
dancer                    6
office work               6
Fashion designer          6
pilot                     6
Unspecified               6
Mehandi Designer          6
astronaut                 6
Ambulance Driver          5
Tailor                    5
Office Job                5
chef                      5
Traffic Police            5
Bus Driver                5
Social Worker             5
Judge                     4
Bank Manager              4
Fashion Designer          4
cricketer                 4
Fauzi                     4
driver                    4
factories man             4
painter                   4
Computer Teacher          4
Computer Operator         4
Hockey Player             4
Air Force                 4
Player                    4
sister religion           3
Karate                    3
guitarist                 3
Artist                    3
Police Inspector          3
IAS Officer               3
Astronot                  3
Principal                 3
Badminton Player          3
Model                     3
English tacher            3
badminton player          3
Politician                3
Shop Keeper               3
CRPF                      3
Software                  3
D J Player                3
Bank Officer              3
Math Teacher              3
Designer                  3
Mistry                    3
boxer                     2
designer                  2
Actor                     2
computer worker           2
Masson                    2
actress                   2
Polce                     2
Navy                      2
cook                      2
Police Officer            2
musician                  2
basket ball player        2
Deshbhakt                 2
CID Officer               2
Banker                    2
poet                      2
Athele                    2
Carpenter                 2
Carpenter/Police          2
player ball               2
goal keeper               2
Civilian                  2
spacecraft                2
Cycle                     2
DJ                        2
Rich                      2
Software Engineer         2
Army man                  2
Restaurant Owner          2
Enironment                2
Reporter                  2
sweeper                   2
Foot Ball Player          2
Army  Officer             2
Gospel Singer             2
Armt                      2
train driver              2
Hindi Teacher             2
unclear                   2
Beautician                2
actor                     1
Transporter               1
Trecking                  1
automobile repairing      1
Umpire                    1
bank manager              1
ambulance driver          1
Van Driver                1
Weaver                    1
Writer                    1
Written in kannada        1
Truck Driver              1
ACP                       1
brain doctor              1
business                  1
planter                   1
planting trees            1
player                    1
player                    1
president                 1
racer                     1
researcher                1
sailor                    1
security                  1
shop keeper               1
social worker             1
student                   1
sub inspector             1
tailor                    1
tree cutter               1
photographer              1
pastor                    1
ninja                     1
factory                   1
charity                   1
chotta bheem              1
cleaner                   1
clown                     1
common man                1
dentist                   1
fire man                  1
mother                    1
gamer                     1
goldsmith                 1
Tenis Player              1
hotel management          1
indian navy               1
missionary pastor         1
horticulture              1
Petrol Pump               1
Teacher                   1
District Collector        1
Clerk                     1
Comando                   1
Commando                  1
Computer                  1
Computer  Operator        1
Construction Job          1
DJ Operator               1
DSP                       1
Doctor Of Ear             1
Chowkidaar                1
Electician                1
Film Industry             1
Florist                   1
Forest Guard              1
Gangster                  1
Halwai                    1
Head Clerk                1
History Teacher           1
Cleaner                   1
Cartoon                   1
Sports                    1
Athlete                   1
Advocate                  1
Agriculture               1
Animal Husbandry          1
Army Driver               1
Army Man                  1
Army Officer              1
Army Woman                1
Astronomy                 1
Band                      1
Car Mechanic              1
Biker                     1
Bird Scather              1
Business man              1
Butcher                   1
CBI                       1
CID                       1
Captain of Ship           1
Car Driver                1
IAS officer               1
IPS                       1
IPS Officer               1
Punjab Police             1
Police Woman              1
Police man                1
Police woman              1
Policeman                 1
Pope                      1
Post Man                  1
Professional              1
Professor                 1
Punjabi Singher           1
Inspector                 1
Reader                    1
Security Guard            1
Sharp Shooter             1
Shooter                   1
Shop Owner                1
Shutter                   1
Sketch Painter            1
Spider Man                1
Police DSP                1
Police                    1
Photographer              1
Paster                    1
Jailor                    1
Job                       1
Kabbadi Playet            1
Karate King               1
King                      1
Ladies Police             1
Lawyer                    1
Lectural                  1
Magician                  1
Mechanic                  1
Minister                  1
Monitor                   1
Music                     1
Music Teacher             1
Nun                       1
Nursery                   1
Officer                   1
yoga                      1
Name: Sno, dtype: int64